.header {
    border-bottom: 1px dashed var(--gray-600);
    padding: 1rem 0;
    display: flex;
    flex-direction: column;
    row-gap: 0.5rem;
}

.time {
    display: flex;
    flex-direction: row;
    column-gap: 0.25rem;
    align-items: center;

    font-size: 0.75rem;
    color: var(--gray-300);
}
