---
import styles from "@styles-components/footer.module.css"
---

<footer class={styles.footerWrapper}>
	<p class={styles.footerContent}>
        © Copyright 2024 2001kaye. All Rights Reserved.
    </p>
</footer>