---
interface Props {
    className: string;
    link: string;
    icon: string;
    text?: string;
}

const {className, link, icon, text} = Astro.props;
---

<a class={className} href={link}>
    <i class={`fa-solid fa-${icon}`}/>
    {text && <p>{text}</p>}
</a>
  