---
interface Props {
    className: string;
    icon: string;
    text?: string;
}

const {className, icon, text} = Astro.props;
---

<a class={className}>
    <i class={`fa-solid fa-${icon}`} />
    {text && <p>{text}</p>}
</a>